<div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center mb-5 my-5">
      <div class="col-lg-3">
        <h2 class="title">My Page</h2>
        <%= attachment_image_tag @user, :image, fallback: "noimage-human.png", class: "profile-img" %>
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">
        <h4 class="font-weight-light"><%= @user.user_name %></h4>
        <div class="User-info">
            </div>
              Follow: <%= @user.followings.count %><br />
              Follower: <%= @user.followers.count %><br />
              Like: <%= @user.favorites.count %><br />
            </div>
        <div class="SNS">

        </div>
        <div class="col-lg-2 edit">
          <% if @user == current_user %>
            <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary mt-5" %>
            <%= link_to "退会", user_relationships_path(@user), class: "btn btn-danger mt-5" %>
          <% end %>
        </div>
         <!-- /.col-lg- -->
      </div>
      <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card bg-light my-5 py-4 text-center">
      <div class="card-body">
        <p class=" m-0"><%= @user.introduction %></p>
      </div>
    </div>

    <%= render 'layouts/review-index', reviews: @reviews %>

    <div class="mb-5"></div>
</div>
<!-- /.container -->
