<div class="container">
  <div class="row">
    <div class="col-xl-8">
       <h2 class="title">My Page</h2>
        <div class="user-box">
            <div class="user-info">
              <div class="user-image">
                <!--%= attachment_image_tag @user, :profile_image, fallback: "noimage.jpeg", size:"150×150" %-->
              </div>
              <div class="user-info">
                <% if @user == current_user %>
                  <p><%= link_to "Edit", edit_user_path(current_user.id), class: "btn btn-primary"%></p>
                <% end %>
                <p>Name:<%= @user.user_name %></p>
                <p>Message:<%= @user.introduction %></p>
              </div>
            </div>
        </div>
        <div class="user-reviews-box">
          <h2 class="title">My Reviews</h2>
          <div class="col-xl-10 reviews-box mr-10 text-center card-deck" style="width:60rem">
               <% @reviews.each do |review| %>
               <section class="card col-xl-5">
                <div class="img">
                    <%= link_to reviews_path(review.id), class: "width" do %>
                      <%= attachment_image_tag review, :image, :fill, 100, 100 %>
                    <% end %>
                </div>
                <div class="card-content">
                 <h6 class="card-title">Title: <%= review.title %></h6>
                 <p class="card-text">Review: <%= review.body%></p>
                </div>
                <div class="comments">
                  <p>Comment：<%= review.review_comments.count %></p>
                  <p>Favorite: </p>
                </div>
                <div class="card-link">
                 <div class="a"><%= link_to "View Moew", review_path(review) %></div>
                 <div class="a"><%= link_to "#{review.user.user_name}", user_path(review.user), class: "card-link"%></div>
                </div>
                </section>
                <% end %>
               </div>
        </div>
        <div class="user-reviews-box">
          <h2 class="title">Favorite Reviews</h2>
          <div class="favoritereviews-box mr-10 text-center">
            <div class="col-xl-10 reviews-box mr-10 text-center card-group" style="width:60rem">
               <% @reviews.each do |review| %>
               <section class="card col-xl-5">
                <div class="img">
                    <%= link_to reviews_path(review.id), class: "width" do %>
                      <%= attachment_image_tag review, :image, :fill, 100, 100 %>
                    <% end %>
                </div>
                <div class="card-content">
                 <h6 class="card-title">Title: <%= review.title %></h6>
                 <p class="card-text">Review: <%= review.body %></p>
                </div>
                <div class="comments">
                  <p>Comment：<%= review.review_comments.count %></p>
                  <p>Favorite: ♥<%= review.favorites.count %></p>
                </div>
                <div class="card-link">
                 <div class="a"><%= link_to "View Moew", review_path(review) %></div>
                 <div class="a"><%= link_to "#{review.user.user_name}", user_path(review.user), class: "card-link"%></div>
                </div>
                </section>
                <% end %>
               </div>
            </div>
        </div>

    </div>
  </div>
</div>
