<div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center mb-5 my-5">
      <div class="col-lg-3">
        <h2 class="title mb-5"><%= @user.user_name%>'s Profile</h2>
        <%= attachment_image_tag @user, :image, fallback: "noimage-human.png", class: "profile-img" %>
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-4">
        <h4 class="font-weight-light"><%= @user.user_name %></h4>
        <div class="User-info">
          <% if @user != current_user %>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
            <% end %>
          <% end %>
            </div>
            <p><a id="modal-open" class="button-link"></a></p>
              Follow:<%= link_to "#{@user.followings.count}", user_followings_path(@user) %><br />
              Follower: <%= link_to "#{@user.followers.count}", user_followers_path(@user) %><br />
              Like: <%= @user.favorites.count %><br />
            </div>
        <br />
        <div class="SNS">

        </div>
        <div class="edit">
          <% if @user == current_user %>
            <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary mt-5 text-center" %>
            <%= link_to "退会", user_relationships_path(@user), class: "btn btn-danger mt-5 text-center" %>
          <% end %>
        </div>
      </div>
      <!-- /.col-md-4 -->
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card bg-light my-5 py-4 text-center">
      <div class="card-body">
        <p class=" m-0"><%= @user.introduction %></p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-5">
        <h2 class="title"><%= @user.user_name %>'s Reviews</h2>
      </div>
    </div>

    <%= render 'layouts/review-index', reviews: @reviews %>

    <div class="mb-5"></div>

</div>
<!-- /.container -->