<div class="setting-container">
  <div class="user-form">
    <h2 class="text-center mt-5">Log in</h2>

    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="field text-center mt-5">
        <%= f.label :user_name %><br />
        <%= f.text_field :user_name, autofocus: true, autocomplete: "l" %>
      </div>

      <div class="field text-center mt-3">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field text-center mt-3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="text-center mt-3">
        <%= f.submit "Log in", class: "btn btn--radius mt-2" %>
      </div>

      <div class="text-center tags">
        <%= link_to 'Guest Login', users_guest_sign_in_path, method: :post, class: "btn btn--radius mt-2" %>
      </div>

    <% end %>

  </div>
  <!--/.user-form-->

</div>
<!--/.container-->