<div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center mb-5 my-5">
      <div class="col-lg-3">
        <h2 class="title">Edit Review</h2>
      </div>

      <!--error msg!-->
      <%= render "layouts/error_msg", resource: @review %>

      <!-- /.col-lg-8 -->
      <div class="col-lg-12 text-center mt-5">
        <div class="User-info">
          <div class="col-lg-12 text-center">
            <%= form_with model:@review, url: review_path(@review), method: :patch do |f| %>
            <table class="table">
              <tr class="mt-3">
                <th><%= f.label "Image" %></th>
                <td class="pl-5"><%= f.attachment_field :image %></td>
              </tr>
              <tr class="mt-5">
                 <th><%= f.label "Item Name" %></th>
                <td class="pl-5"><%= f.text_field :item_name, size: 50 %></td>
              </tr>
              <tr class="mt-5">
                <th><%= f.label "Brand Name" %></th>
                <td class="pl-5"><%= f.text_field :brand_name, size: 50 %></td>
              </tr>
              <tr class="mt-5">
                <th><%= f.label "Title" %></th>
                <td class="pl-5"><%= f.text_field :title, size: 50 %></td>
              </tr>
              <tr class="mt-5">
                <th><%= f.label "Review"%></th>
                <td class="pl-5"><%= f.text_area :body, size: "50×20" %></td>
              </tr>
              <div class="rate">
              <tr class="mt-3" id="star">
                <th><%= f.label :rate,'Star Rate' %></th>
                <td class=""><%= f.hidden_field :rate, id: :review_star %>
               <script>
                 $('#star').raty({
                  size     : 36,
                  starOff:  '<%= asset_path('star-off.png') %>',
                  starOn : '<%= asset_path('star-on.png') %>',
                  starHalf: '<%= asset_path('star-half.png') %>',
                  scoreName: 'review[rate]',
                  half: true,
                });
                </script>
                </td>
                </tr>
                </div>
              <tr class="mt-5">
                <th><%= f.label :review, :tag_list %></th>
                <td class="pl-5"><%= f.text_field :tag_list, value: @review.tag_list.join(','), size: 50 %></td>
              </tr>
              <tr class="mt-3">
              <div class="">
                <th><%= f.label "Category" %></th>
                <br /><td class="pl-5 category-form"><%= select_tag 'parent_id', options_for_select(@category_parent_array), id: 'parent-category', class: 'form-control' %></td>
              </div>
              </tr>
              </div>
            </table>
          </div>

          <div class="col-lg-12 text-center mt-5">
            <%= f.submit "Submit", class: "btn btn-success"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
