<div class="row text-left">

  <% reviews.each do |review| %>

    <div class="wrapper text-left mt-5">

      <div class="card-container col-lg-12 mb-4 text-left">

        <div class="top">
          <%= link_to review_path(review.id) do %>
            <%= attachment_image_tag review, :image, :fill, 400, 400, fallback: "noimage-human.png" %>
          <% end %>
        </div>

        <div class="bottom">

          <div class="left">

            <div class="details">
              <h6><%= review.title.truncate(15) %></h6>
                <p class="contents"><%= link_to "#{review.user.user_name}", user_path(review.user)%></p>
            </div>

            <div class="buy">
              <%= link_to review_path(review) do %>
                <i class="fas fa-angle-double-right"></i>
              <% end %>
            </div>

          </div>
          <!--left-->

          <div class="right">
            <div class="done"><i class="fas fa-info-circle"></i></div>
              <div class="details">
                <h4><%= review.title.truncate(15) %></h4>
                  <p><%= link_to "#{review.user.user_name}", user_path(review.user)%></p>
               </div>
              <div class="remove"><i class="fas fa-info-circle"></i></div>
          </div>

        </div>
        <!--bottom-->

      </div>
      <!--card-container-->

      <div class="inside">

        <div class="icon"><i class="fas fa-info-circle"></i></div>

          <div class="contents">
            <table>
            <tr>
              <th>Title</th>
              <td><%= review.title.truncate(20) %></td>
            <tr>
              <th>Text</th>
              <td><%= review.body.truncate(20) %></td>
            </tr>
            <tr>
              <th>Item</th>
              <td><%= review.item_name.truncate(20) %></td>
            </tr>
            <tr>
              <th>Brand</th>
              <td><%= review.brand_name.truncate(20) %></td>
            </tr>
            <tr>
              <th>Rate</th>
              <td>
                <i class="fas fa-star"></i><%= review.rate %>/<i class="fas fa-star"></i>5.0
              </td>
            </tr>
            <tr>
              <th><i class="fab fa-gratipay"></i></th>
              <td><%= review.favorites.count %></td>
            </tr>
            <tr>
              <th><i class="far fa-comment-dots"></i></th>
              <td><%= review.review_comments.count %></td>
            </tr>
            <tr>
              <th>user</th>
              <td><%= link_to "#{review.user.user_name}", user_path(review.user), class: "card-link"%></td>
            </tr>
            </table>
            <% if review.user == current_user %>
              <%= link_to "Edit", edit_review_path(review), class: "btn btn-primary mt-5" %>
              <%= link_to "Delete", review_path(review), method: :delete, class: "btn btn-danger mt-5" %>
            <% end %>

          </div>
          <!--contents-->

        </div>
        <!--inside-->

    </div>
    <!--wrapper-->

  <% end %>
  <!--each do-->

</div>
<!--row-->