<!DOCTYPE html>
<html>
  <head>
    <title>EClothes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag('favicon.ico') %>

  </head>

  <body>
    <head class="full">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <!--font-->
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://use.typekit.net/sfp3arn.css">
      <script>
        (function(d) {
          var config = {
            kitId: 'nxb7tkd',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
      <script src="https://kit.fontawesome.com/42591157a3.js" crossorigin="anonymous"></script>

      <!--rate-->
      <script>
        $(function(){
          $('#star1').raty();
        });
      </script>

    </head>

    <!--rate-->
    <script type="text/javascript">
      $('#div').raty();
    </script>
    <header>
      <%= render'layouts/header' %>
    </header>

    <div id="main">
      <%= yield %>
      <% if user_signed_in? %>
        <%= link_to new_review_path, class: "new_review" do %>
          <button class="new_review">
            New Review
              <span>post.. ??</span>
          </button>
        <% end %>
      <% end %>
    </div>

  <!-- Footer -->
     <footer id="footer">
      Copyright © EClothes </a>. All Rights Reserved.
    </footer>
    <!-- /.container -->
    </footer>
    <!-- /.footer -->
    </body>
</html>
